.chatbot-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #0e746b;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    z-index: 1000;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatbot-button:hover {
    background-color: #09514a;
    transform: scale(1.1);
}